////
/// Site Name:
/// Author:
///
/// Stylesheet: Admin Stylesheet
///
/// This stylesheet is loaded (if admin.php is setup in your
/// functions file) on the admin pages. This way you can style
/// elements of the the backend, like the dashboard, post pages,
/// etc. It won't affect any pages on the front-end.
///
///     1 Helpers
///
///     2 Default Styling
///
///     3 Vendors
///         
///         3.1 WordPress Admin Plugins
///
///     4 Your Custom Styling
///
///
/// @link http://codex.wordpress.org/Creating_Admin_Themes
/// @link https://github.com/bueltge/WordPress-Admin-Style
/// @link https://dotorgstyleguide.wordpress.com/
/// @link http://code.tutsplus.com/tutorials/integrating-with-wordpress-ui-the-basics--wp-26713
////


@import "../dependencies";


///
/// 1 ../HELPERS
///

// Color Palettes
@import "../helpers/palettes";

// Sass variables
@import "../helpers/variables";

// Sass functions
@import "../helpers/functions";

// import mixins
@import "../helpers/mixins";


///
/// 2 DEFAULT STYLING
///

#footer-thankyou {
	display: inline-block;

	a.andamira {
		background: rgba(#FE850E, 0.19);
		color: #222;
		border: 1px solid rgba(#FE850E, .66);
		border-width: 1px 1px 3px 1px;
		padding: 0 3px 1px 5px;
		font-size: 11pt;

		&:hover, &:focus, &:active {
			background: rgba(#FE850E, .56);
			color: #FFF;
			text-shadow: 0px 0px 8px black(.88);
			text-decoration: none;
		}
	}
}


///
/// 3 VENDORS
///

///
/// 3.1 WORDPRESS ADMIN PLUGINS
///
@import "../vendor/wp/__admin";


///
/// 4 YOUR CUSTOM STYLING
///





