////
/// BASE MAIN
/// ************************************************************
///
///     1 General Styles
///
///         1.1 Links
///         1.2 Headings
///         1.3 Typography
///         1.4 Selection
///
///     2 Structure
///
///         2.1 Base
///         2.2 Page & Site Wrappers
///         2.3 Site Header
///         2.4 Site Footer
///         2.5 Page Header
///         2.7 Entry Header
///
///         2.8 Entry Content
///
///             2.8.1 List
///             2.8.2 Table
///             2.8.3 Alignment
///             2.8.4 Img
///             2.8.5 Caption
///             2.8.6 Gallery
///             2.8.7 Blockquote
///             2.8.8 Special
///
///         2.9 Entry Footer
///
///     3 Special Cases
///
////


///
/// 1 GENERAL STYLES
///

///
/// 1.1 Links
///

a {
	color: $link-color;
	text-decoration: none;

	&:hover, &:focus {
		color: $link-color-hover;
		outline: none;
	}

	&:active {
	}
}

///
/// 1.2 HEADINGS
///
h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {

	margin: 2rem 0 1rem;

	&:first-child {
		margin-top: 0;
	}
}

h1, .h1 {
}
h2, .h2 {
}
h3, .h3 {
}
h4, .h4 {
}
h5, .h5 {
}
h6, .h6 {
}

///
/// 1.3 TYPOGRAPHY
///
/// @link http://html5doctor.com/i-b-em-strong-element/
///
b, strong {

}
i {
}
em {
}

///
/// 1.4 SELECTION
///
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/::selection
///
::selection {
}


///
/// 2 STRUCTURE
///
///

///
/// 2.1 BASE
///
html {
	font-size: 100%;
}

body {
	font-family: $sans-serif;
	line-height: 1.5;
	color: $text-color;
	background-color: $body-background-color;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

///
/// 2.2 PAGE & SITE WRAPPERS
///
/// @see /src/sass/layout/_grid.scss
///

///
/// 2.3 SITE HEADER
///
.site-header {
	position: relative;
	height: 3rem;
}

	.site-header-logo {
		display: inline-block;
		position: absolute; // so it doesn't affect nav positioning
	}

		.site-name {
			font-size: 2rem;
		}

		.site-description {}

	// Positioning only. To further customize the menu see _navigation.scss
	.site-main-nav {
		// Show on desktop size
		@include media( "<wp-adminbar-mobile" ) {
			display: none;
		}

		// center the menu
		margin: 0 auto;
		text-align: center;
	}

///
/// 2.4 SITE FOOTER
///
.site-footer {
}

	// Positioning only. To customize the menu see _navigation.scss
	.site-footer-nav {
		float: right;
	}

	.site-footer-copyright {
		display: inline-block;
	}

///
/// 2.6 PAGE HEADER
///
.page-header {}

	.page-title {}

///
/// 2.7 ENTRY HEADER
///
.entry-header {

	.entry-title,
	.single-title {}

	.entry-edit-post {}

	.entry-meta {}

		.entry-byline {}

			.entry-date {}

			.entry-author {
				display: inline-block;
			}
}


// TEMP
article.sticky { // [theme_check]
	border: 2px solid $orange;
	border-radius: 0.5rem;
	padding: 1rem;
}

///
/// 2.8 ENTRY CONTENT
///
.entry-content {

	p {
	}

	///
	/// 2.8.1 LIST
	///
	ul, ol, table, dl {}

	ul, ol {

		li {}
	}

	ul {

		li {}
	}

	ol {

		li {}
	}

	///
	/// 2.8.2 TABLE
	///
	table, th, td {

		.rtl & {
			text-align: right;
		}
	}

	table {
		empty-cells: hide;

		caption {
			
			.rtl & {
				text-align: right;
			}
		}
	}

	th {}

	tr {}

	td {}

	///
	/// 2.8.3 ALIGNMENT
	///
	$img-margin: 0.5rem;

	.alignleft {
		float: left;
	}

	.alignright {
		float: right;
	}

	.aligncenter {
		clear: both;
		display: block;
		margin: 7px auto;
		margin: $img-margin auto;
	}

	///
	/// 2.8.4 IMG
	///
	
	img,
	a img,
	figure {
		max-width: 100%;
		height: auto;
	}

	img {}

	a img {}

	figure {}

	///
	/// 2.8.5 CAPTION
	///
	.wp-caption {  // TODO: improve measures
		background: transparent;
		border: none;
		color: #707070;
		font-family: $wp-caption-font;
		margin: 0 0 28px 0;
		max-width: 660px;
		padding: 0;
		text-align: inherit;

		.alignleft {
			margin: 7px 28px 21px 0;
		}
		.alignright {
			margin: 7px 0 21px 28px;
		}
		.aligncenter {
			margin: 7px auto;
		}
		.wp-caption-text, .wp-caption-dd {
			font-size: 14px;
			line-height: 1.5;
			padding: 7px 0;
		}
	}


	///
	/// 2.8.6 BLOCKQUOTE
	///
	blockquote {

		p {}

		> p:last-child {}

		cite, small {}

		em, i, cite {}

		b, strong {}

	
		&:before {}
	}

	///
	/// 2.8.7 SPECIAL
	///
	address {}

	code, kbd, tt, var, samp, pre {
		font-family: $mono;
	}

	pre {}

	abbr[title] {
		border-bottom: 1px dotted #eaeaea;
		cursor: help;
	}

	mark, ins {
	}

	del {
		text-decoration: line-through;
		opacity: 0.8;
	}
	
	sup, sub {
		font-size: 75%;
	}

	sup {
	}

	sub {
	}

	small {
		font-size: 75%;
	}

	big {
		font-size: 125%;
	}

	dl {}

	dt {}

	dd {}

	///
	/// 2.8.9 GALLERY
	///
	.gallery {
		margin-bottom: 28px;

		.gallery-caption {
			color: #707070;
			display: block;
			font-family: $wp-caption-font;
			font-size: 14px;
			line-height: 1.5;
			padding: 7px 0;
		}
	}

} // entry-content

	.gallery-item {
		display: inline-block;
		padding: 1.79104477%;
		text-align: center;
		vertical-align: top;
		width: 100%;

		.gallery-columns-2 & {
			max-width: 50%;
		}
		.gallery-columns-3 & {
			max-width: 33.33%;
		}
		.gallery-columns-4 & {
			max-width: 25%;
		}
		.gallery-columns-5 & {
			max-width: 20%;
		}
		.gallery-columns-6 & {
			max-width: 16.66%;
		}
		.gallery-columns-7 & {
			max-width: 14.28%;
		}
		.gallery-columns-8 & {
			max-width: 12.5%;
		}
		.gallery-columns-9 & {
			max-width: 11.11%;
		}
	}

	.gallery-columns-6 .gallery-caption,
	.gallery-columns-7 .gallery-caption,
	.gallery-columns-8 .gallery-caption,
	.gallery-columns-9 .gallery-caption {
		display: none;
	}


///
/// 2.9 ENTRY FOOTER
///
.entry-footer {

	.entry-comment-count {}

	.entry-meta {

		> span {
		
			.title {
			}
		}
	}

		.entry-date {}

		.entry-author {
			display: inline-block;
		}

		.entry-categories {}

		.entry-tags {}

			.entry-tags-title {}
}


///
/// 3 SPECIAL CASES
///
#post-not-found {}

.hidden {
	display: none;
}

