////
/// WordPress comments classes
/// ************************************************************
///
///     1 COMMENTS LIST
///
///     2 COMMENTS FORM
///
///
/// NOTE: The comments layout has been adpted to HTML5. It doesn't use list
/// ( ul / ol / li ) but nested articles.
////

///
/// 1 COMMENTS LIST
///
.comments-list {

	.bypostauthor { // [theme_check]
		border: inherit;
	}
	.byuser {}
	.comment-author-admin {}
	.pingback {}

	.alt {}
	.odd {}
	.even {}

	.thread-alt {}
	.thread-odd {
		background: #fff;
		.odd {
			background: #fff;
		}
		.even {
			background: #f6f6f6;
		}
	}
	.thread-even {
		background: #f6f6f6;
		.odd {
			background: #fff;
		}
		.even {
			background: #f6f6f6;
		}
	}


	// COMMENT
	.comment {
		font-size: 0.9rem;
		padding: 0.9rem;
		border-bottom: 1px solid #ddd; 

		.comment-author {
		}

		// VCARD
		.vcard {
			
			cite.fn {
				a.url {}
			}
			time {
				font-size: 0.8rem;
			}

			img.avatar {
			}
			img.avatar-32 {}
			img.photo {}
			span.says {}
		}

		div.comment-meta {

			a {
				color: #ccc;
			}
		}
		div.commentmetadata {
			a {}
		}

		p {
		}

		// REPLY
		.reply {

			a {
				font-weight: bold;
			}
		}

		// NESTED COMMENTS
		article {
			margin: 0.5rem;
			border-left: 5px solid #eee;

			li {
				&.alt {}
				&.odd {}
				&.even {}
				&.bypostauthor {}
				&.byuser {}
				&.comment {}
				&.comment-author-admin {}

				&.depth-2 {
					border-left-color: #ccc;
				}
				&.depth-3 {
					border-left-color: #bbb;
				}
				&.depth-4 {
					border-left-color: #aaa;
				}
				&.depth-5 {}

			}
		}

	} // &.comment

}


///
/// 2 COMMENTS FORM
///
.comment-form {

	.logged-in-as {	
	}

	.comment-form-comment {
		margin: 0
	}

	.form-allowed-tags {
		margin: 0;
		font-size: 0.9rem;
		color: #444;

		code {
			color: #555;
			background: #eee;
		}
	}

}

#cancel-comment-reply-link {
	a {}
}

