////
/// Base breakpoint
/// ************************************************************
///
/// Intended for mobile and and also as a base
/// to be enhanced in further breakpoints
///
////


// For the grid see layout/_grid.scss


// main structure styling
// links, headings, entry...
@import "base/main";


// navigation menuss, smart header
@import "base/navigation";


// sidebars
@import "base/sidebars";


///
/// WordPress CSS Classes
///

// body
@import "base/wp_body";

// widgets
@import "base/wp_widgets";

// comments
@import "base/wp_comments";

