/*
 * Dependencies
 * ************************************************************
 *
 * Intended for being imported by standalone sass files like:
 * style.scss & admin.scss
 *
 *     1 Load Dependencies
 *
 *     2 Global Configurable Variables
 *
 */


/**
 * 1 LOAD DEPENDENCIES
 *
 * @link https://github.com/necolas/normalize.css/       Normalize
 * @link https://github.com/ericam/susy/                 Susy
 * @link https://github.com/eduardoboucas/include-media  Include Media
 * @link https://github.com/at-import/Sassy-Maps         Sassy-Maps
 */

@import "../../vendor-dl/normalize.css/normalize";

@import "../../vendor-dl/susy/sass/susy";
@import "../../vendor-dl/include-media/dist/include-media";
@import "../../vendor-dl/sassy-maps/sass/sassy-maps";


