////
/// Global Dependencies
/// ************************************************************
///
///     1 Global Variables
///
///         1.1 Theme Dirname !!!
///         1.2 Assets
///         1.3 Misc
///             - body 100% height
///             - footer height
///
///     2 Load Global Dependencies
///
///         2.1 Default
///             - Include Media
///             - Sassy Maps
///
///          2.2 Extra
///
///     3 Dependencies Configuration
///
////


///
/// 1 GLOBAL VARIABLES
///

///
/// 1.1 THEME DIRNAME !!!
///
/// IMPORTANT: Your must write the same name the theme directory will have
/// when you copy (or symlink) the theme/ dir to the WordPress themes folder.
/// 
/// e.g.:
///
///     cp -r theme/ ~/public_html/wordpress/wp-content/themes/DIRNAME/
///
$theme-dir-name: "medula";

///
/// 1.2 Assets
///
/// Used for image-url() and font-url() in /src/sass/lib/_functions.scss
///
$image-url-path: "/wp-content/themes/#{$theme-dir-name}/res/img/" !default;
$font-url-path: "/wp-content/themes/#{$theme-dir-name}/res/fonts/" !default;

///
/// 1.3 Misc
///

// Sets page to at least 100% screen height & leaves page footer glued to the bottom
$conf_100_page_height: true; 

// Footer height
$conf_footer_height: 5rem; 


///
/// 2 LOAD GLOBAL DEPENDENCIES
///

///
/// 2.1 DEFAULT
///
/// @link https://github.com/eduardoboucas/include-media  Include Media
/// @link https://github.com/at-import/Sassy-Maps         Sassy-Maps
///
@import "../../vendor-dl/include-media/dist/include-media";
@import "../../vendor-dl/sassy-maps/sass/sassy-maps";

///
/// 2.2 EXTRA
///
// @import "../../vendor-dl/";
// @import "../../vendor-dl/";


///
/// 3 GLOBAL DEPENDENCIES CONFIGURATION
///


