////
/// Stylesheet: Login Page
/// ************************************************************
///
/// This stylesheet is loaded (if admin.php is setup in your
/// functions file) on the login page. This way you can style
/// the login page. It won't affect any other page, admin or front-end.
///
///     >------------------>
///
///     1 Globals & Dependencies
///
///     1 Libs
///
///     2 Login Page Styles
///
///     <------------------<
///
/// @link http://codex.wordpress.org/Creating_Admin_Themes
/// @link http://codex.wordpress.org/Customizing_the_Login_Form
////


///
/// 1 GLOBALS & DEPENDENCIES
///
/// Configure your theme includes & paths in these files
///
@import "globals";
@import "vendor/front_deps";


///
/// 2 LIBS
///
/// Functions, Mixins and Variables must be imported first.
///


// Functions
@import "lib/util/functions";

// Mixins
@import "lib/util/mixins";

// Variables
@import "lib/variables";

// Symbols
@import "lib/symbols";

// Palettes
@import "lib/palettes/main";

// Typography
@import "lib/typography";

// Accesibility Style
@import "lib/accessibility";


///
/// 3 STYLING
///

body {
}


// the form box
#login {
	// width: 320px;
	// padding: 8% 0 0;
	// margin: auto;
}

// body class
.login {

	// WordPress logo in the admin area
	h1 a {
		background: url(../img/favicon-big.png) no-repeat top center; // make sure to replace this!
		height: 120px;
		width: 120px;
	}

	form {

		.input {
		}

	}
}

// login button
#wp-submit {}


///
/// retina login logo
///
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

  // you can put your 2x logo in here
  .login h1 a {
		//background: url(../images/login-logo@2x.png) no-repeat top center; // make sure to replace this!
	}

}

