////
/// Stylesheet: Login Stylesheet
///
/// This stylesheet is loaded (if admin.php is setup in your
/// functions file) on the login page. This way you can style
/// the login page. It won't affect any other page, admin or front-end.
///
///     1 Helpers
///
///     2 Default Styling
///
/// @link http://codex.wordpress.org/Creating_Admin_Themes
/// @link http://codex.wordpress.org/Customizing_the_Login_Form
////


@import "deps/frontend";

///
/// 1 HELPERS
///

// Color Palettes
@import "helpers/palettes/main";

// Sass variables
@import "helpers/variables";

// Sass functions
@import "helpers/functions";

// import mixins
@import "helpers/mixins";


///
/// 2 STYLING
///

body {
}


// the form box
#login {
	// width: 320px;
	// padding: 8% 0 0;
	// margin: auto;
}

// body class
.login {

	// WordPress logo in the admin area
	h1 a {
		background: url(../img/favicon-big.png) no-repeat top center; // make sure to replace this!
		height: 120px;
		width: 120px;
	}

	form {

		.input {
		}

	}
}

// login button
#wp-submit {}


///
/// retina login logo
///
@media only screen and (-webkit-min-device-pixel-ratio: 1.5),
       only screen and (min--moz-device-pixel-ratio: 1.5),
       only screen and (min-device-pixel-ratio: 1.5) {

  // you can put your 2x logo in here
  .login h1 a {
		//background: url(../images/login-logo@2x.png) no-repeat top center; // make sure to replace this!
	}

}

