#################### general
vendor-dl
node_modules
*.swp
*.swo
.sass-cache

#################### output
theme/css
theme/js
theme/img
theme/fonts

#################### temp
theme/translations
.tmp
.send-repo

