#################### general
node_modules
bower_components
*.swp
*.swo
.tup
.sass-cache

#################### output
lib/css
lib/js/scripts.min.js

#################### temp
lib/langs
lib/js/includes
tmp
.send-repo

