#################### general
node_modules
vendor-dl
*.swp
*.swo
.tup
.sass-cache

#################### output
src/css/*.css
src/css/admin/
src/js/scripts.js

#################### temp
src/translations
src/js/includes
tmp
.send-repo

