////
/// Stylesheet: Variables
/// ************************************************************
///
/// Here is where we declare all our variables like colors, fonts,
/// base values, and defaults. Just variables.
///
///     1 Colors & Backgrounds
///
///         1.1 Default
///         1.2 Theme Colors
///         1.3 Theme Backgrounds
///
///     2 Functional Variable Names
///
///         2.1 Default
///         2.2 Theme Variables
///
///     3 Typography
///
///     4 Placeholders
///
///         4.1 Overlays
///         4.2 Box Shadows
////


///
/// 1 COLORS DEFINITIONS
///
/// @link http://sachagreif.com/sass-color-variables/
///

///
/// 1.1 DEFAULT COLORS
///
/// @link http://clrs.cc/
///

// Cool
$aqua:  #7FDBFF;
$blue:  #0074D9;
$navy:  #001F3F;
$teal:  #39CCCC;
$green: #2ECC40;
$olive: #3D9970;
$lime:  #01FF70;

// Warm
$yellow:  #FFDC00;
$orange:  #FF851B;
$red:     #FF4136;
$fuchsia: #F012BE;
$purple:  #B10DC9;
$maroon:  #85144B;

// Gray Scale
$white:  #fff;
$silver: #ddd;
$gray:   #aaa;
$black:  #111;

// Other
$transparent:       rgba(0, 0, 0, 0);
$gray-dark:         #333;
$gray-light:        $silver;

// Alerts
$alert-yellow:       color-material(yellow, 100);
$alert-yellow-dark:  color-material(yellow, 700);
$alert-yellow-text:  color-material(orange, 900);
$alert-red:          color-material(red, 200);
$alert-red-dark:     color-material(red, 600);
$alert-red-text:     color-material(red, a700);
$alert-green:        color-material(light-green, 500);
$alert-green-dark:   color-material(light-green, 800);
$alert-green-text:   color-material(green, 900);
$alert-blue:         color-material(blue, 400);
$alert-blue-dark:    color-material(blue, 200);
$alert-blue-text:    color-material(blue, 900);

// Brand
$medula-orange:       #de7e3e;
$medula-orange-light: #e6bea4;
$medula-orange-dark:  #b16c48;

///
/// 1.2 YOUR THEME COLORS
///
/// @link http://0to255.com/
///

///
/// 1.3 YOUR THEME BACKGROUNDS
///
/// @link http://subtlepatterns.com
/// @link http://www.transparenttextures.com/
///


///
/// 2 FUNCTIONAL VARIABLE NAMES
///
$text-color:        $gray-dark;
$link-color:        $blue;
$link-color-hover:  darken( $link-color, 9% );


///
/// 3 TYPOGRAPHY
///
/// @link http://prospects.mhurrell.co.uk/post/updating-the-helvetica-font-stack
///
$sans-serif:  Helmet, Freesans, sans-serif;
$serif:       Cambria, 'Times New Roman', 'Nimbus Roman No9 L', 'Freeserif', Times, serif;
$mono:        Consolas, 'Lucida Console', 'Bitstream VeraSans Mono', 'DejaVu Sans Mono', monospace, sans-serif;


///
/// 4 PLACEHOLDERS
///

///
/// 4.1 Overlays
///
%overlay {
	display: block;
	position:absolute;
	top: 0;
	width: 100%; 
	height: 100%; 
}

///
/// 4.2 Shadows
///

// simple shadow
%shadow-simple {
	box-shadow: 2px 3px 4px rgba(#666, 0.5);
}

// 3d shadows (http://codepen.io/haibnu/pen/FxGsI)
%shadow-3d-1 {
	box-shadow: 0 15px 16px -6px #777;
}
%shadow-3d-2 {
	position:relative;

	&:before, &:after {
		z-index: -1;
		position: absolute;
		content: "";
		bottom: 15px;
		left: 10px;
		width: 50%;
		top: 80%;
		max-width:300px;
		background: #777;
		box-shadow: 0 15px 10px #777;
		transform: rotate(-3deg);
	}
	&:after {
		transform: rotate(3deg);
		right: 10px;
		left: auto;
	}
}







