////
/// Admin Branding
/// ************************************************************
///
////


#footer-thankyou {
	display: inline-block;

	a.andamira {
		background: rgba(#FE850E, 0.19);
		color: #222;
		border: 1px solid rgba(#FE850E, .66);
		border-width: 1px 1px 3px 1px;
		padding: 0 3px 1px 5px;
		font-size: 11pt;

		&:hover, &:focus, &:active {
			background: rgba(#FE850E, .56);
			color: #FFF;
			text-shadow: 0px 0px 8px black(.88);
			text-decoration: none;
		}
	}
}

