////
/// Stylesheet: Accesibility Stylesheet
/// ************************************************************
///
///     1 Screen Readers
////


///
/// 1 SCREEN READERS
///
/// Text meant only for screen readers
///
/// @link https://codex.wordpress.org/CSS#WordPress_Generated_Classes
/// @link http://webaim.org/techniques/css/invisiblecontent/
///

.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;

	&:hover,
	&:active,
	&:focus {
		background-color: #f1f1f1;
		border-radius: 3px;
		box-shadow: 0 0 2px 2px black(0.6);
		clip: auto !important;
		color: #21759b;
		display: block;
		font-size: 14px;
		font-size: 0.875rem;
		font-weight: bold;
		height: auto;
		left: 5px;
		line-height: normal;
		padding: 15px 23px 14px;
		text-decoration: none;
		top: 5px;
		width: auto;
		z-index: 100000; // Above WP toolbar.
	}
}

