////
/// BASE GRID
/// ************************************************************
///
///     1 Breakpoints Variables
///
///     2 Page Widths Variables
///
///     3 Susy Setup
///
///     4 Conditional CSS
///
///     5 The grid container
///
///     6 The grid layout
////


///
/// 1 BREAKPOINTS
///
/// @link https://github.com/eduardoboucas/include-media
///
$breakpoints: (
	wp-adminbar-mobile: 783px, // point where WordPress changes the admin bar to mobile mode

	mobile2desktop: 40em,
);

$media-expressions: (
	all: "all",
	screen: "screen", 
	print: "print", 
	handheld: "handheld",
	retina2x: ("(-webkit-min-device-pixel-ratio: 2)", "(min-resolution: 192dpi)"), 
	retina3x: ("(-webkit-min-device-pixel-ratio: 3)", "(min-resolution: 350dpi)")
);


///
/// 2 PAGE WIDTHS
///
$page-width-desktop1: 60em; // 1st page-width on desktop


///
/// 3 SUSY SETUP
///
$total-columns  : 4;
$column-width   : false;
$gutter-width   : .25;
$grid-padding   : $gutter-width;

$susy: (                            // *default | alternative

	flow: ltr,                      // *ltr | rtl
	output: float,                  // *float | isolate
	math: fluid,                    // *fluid | static (requires column-width)
	gutter-position: inside,        // before | *after | split | inside | inside-static (requires column-width)
	                                // @link http://www.zell-weekeat.com/susy-gutter-positions/
									//
	container: auto,                // length or % | *auto
	container-position: left,       // *left | center | right | <length> [*2] (grid padding)
	columns: $total-columns,        // *4
	gutters: $gutter-width,         // *.25
	column-width: $column-width,    // *false | value
	global-box-sizing: border-box,  // *content-box | border-box (affects inside/inside-static)
	last-flow: to,                   

	debug: (
		image: hide,                // show | *hide | show-columns | show-baseline
		//color: $blue,
		//output: background,       // *background | overlay
		//toggle: top right,
	),

	/*
	use-custom: (
		background-image: true,
		background-options: false,
		box-sizing: true,
		clearfix: true,
		rem: true,
	)
	*/
);


///
/// 4 CONDITIONAL CSS
///
/// @see /src/js/main.js
/// @link http://adactio.com/journal/5429/
///
@include media( "all", ">=mobile2desktop" ) {
	body:after {
		content: 'widescreen';
		display: none;
	}
}


///
/// 5 THE GRID CONTAINER
///
/// Here you establish the outer grid-containing elements
///
/// If you want a wide header and footer comment the body
///
/// Feel free to experiment modifying the div wrapper
/// in defined in header.php and footer.php
///
html {
	@if $conf_100_page_height {
		height: 100%;
	} 

}

body {
	@if $conf_100_page_height {
		height: 100%;
	}

	&.debug {
		//@include show-grid( show-columns );
	}
}


.site-wrapper {
	@include media( ">=mobile2desktop" ) {
		max-width: $page-width-desktop1;
		margin: 0 auto;
	}
}

#page-wrapper {
	@if $conf_100_page_height {
		min-height: 100%;
		position: relative;
	}
		padding: 1px 0 ($conf_footer_height + 2rem);
}


#site-header-wrapper {}

#site-content-wrapper {

	// Main container
	@include container( $page-width-desktop1 center );

	padding: 0 1rem;
	margin-top: 2rem;
}

#site-footer-wrapper {}

.debug section {
	//@include show-grid( show-baseline );
}


///
/// 5 THE GRID LAYOUT
///
main {

	min-height: 18rem;
}

.sidebar {
}

.site-header {
}

.site-footer {
	@if $conf_100_page_height {
		position: absolute;
		bottom: 0;
	}
	height: $conf_footer_height;
}


