////
/// Stylesheet: Icons Styles
/// ************************************************************
/// 
////


///
/// EDIT POST LINK
///
.edit-link {

	a {
		display: inline-block;
		vertical-align: middle;
		width: 2rem;

		opacity: 0.3;
		&:hover, &:focus {
			opacity: 0.9;
		}

	}
		i {
			vertical-align: baseline;
		}
}

.entry-title {
	.edit-link {
		a {
			width: 3rem;
		}
		i {
			font-size: 2rem;
		}
	}
}


