////
/// Stylesheet: Typography
/// ************************************************************
///
/// Need to import a font or set of icons for your site? Drop them here.
///
///     1 Font Face
///
///     2 Typographical Defaults
///
///
/// @link http://trentwalton.com/2012/06/19/fluid-type/
/// @link http://ia.net/blog/responsive-typography-the-basics/
/// @link http://alistapart.com/column/responsive-typography-is-a-physical-discipline
////


///
/// 1 FONT FACE
///
/// To embed your own self-hosted fonts put them in /src/fonts/ and use
/// font-face mixin with the correct parameters for your case.
///
/// @see {mixin} font-face
/// @source https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
/// @link http://www.fontsquirrel.com/ More information on embedding fonts
/// @link https://developer.mozilla.org/en-US/docs/Web/CSS/font-weight
///
/// Common (almost-standard) weight names:
///
/// 100 Thin, Ultra Light, Extra Light, Ultra Thin
/// 200 Light, Thin, Extra Light
/// 300 Light, Book
/// 400 (normal)    Regular, Normal, Book
/// 500 Medium
/// 600 Semibold, Demibold
/// 700 (bold)  Bold
/// 800 Extra Bold, Heavy, Black
/// 900 Black, Extra Black, Ultra Black, Fat
///
/// @example
///   @include font-face("Font Name", "file-name");
///   @include font-face("Samplinal", "../fonts/Samplinal_Bold", 700, null);
///   @include font-face("Samplinal", "../fonts/Samplinal_Book_Italic", normal, italic, eot woff2 woff);
///


///
/// 2 NICE TYPOGRAPHICAL DEFAULTS
///
/// @link http://www.newnet-soft.com/blog/csstypography
///
p {
	word-wrap: break-word;

	// cleaning up the ragged lines and breaks
	hyphens: auto;

	// sets a minimum number of characters before and after the break
	hyphenate-lines: 3;

	// enabling fancy ligatures when available
	font-feature-settings: "liga", "dlig";
}


