/**
 * Stylesheet: Typography
 * ************************************************************
 *
 * Need to import a font or set of icons for your site? Drop them here.
 *
 *     1 Font Face
 *
 *     2 Typographical Defaults
 *
 *
 * @link http://trentwalton.com/2012/06/19/fluid-type/
 * @link http://ia.net/blog/responsive-typography-the-basics/
 * @link http://alistapart.com/column/responsive-typography-is-a-physical-discipline
 */


/**
 * 1 FONT FACE
 *
 * To embed your own self-hosted fonts put them in /src/fonts/ and use
 * font-face mixin with the correct parameters for your case.
 *
 * @see {mixin} font-face
 * @source https://gist.github.com/jonathantneal/d0460e5c2d5d7f9bc5e6
 * @link http://www.fontsquirrel.com/ More information on embedding fonts
 *
 * Be sure to remove the comment brackets and rename Font Name & font-file
 */

// Examples:
//
// @include font-face("Font Name", file-name);
//
// @include font-face(Samplinal, Samplinal, null, null, woff, ttf);
//
// @include font-face(Samplinal, Samplinal, 500, normal, eot woff2 woff);
//


/**
 * 2 NICE TYPOGRAPHICAL DEFAULTS
 *
 * @link http://www.newnet-soft.com/blog/csstypography
 */

p {
	word-wrap: break-word;

	// cleaning up the ragged lines and breaks
	hyphens: auto;

	// sets a minimum number of characters before and after the break
	hyphenate-lines: 3;

	// enabling fancy ligatures when available
	font-feature-settings: "liga", "dlig";
}


